<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>
    <div class="log-form">
        <h2>Login to your account</h2>
        <form method="post" action="{{ url_for('login') }}">
          <input type="text" title="username" placeholder="username" name="username" id="username" />
          <input type="password" title="username" placeholder="password"  name="password" id="password"/>
          <button type="submit" class="btn">Login</button>
          <!-- <input type="submit" name="login-submi" id="login-submit" -->
          <a class="forgot" href="#">New User? SignUp</a>
        </form>
      </div>
</body>
</html>